<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Harware</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<span class="login100-form-title p-b-37" style="padding-left: 60px">
					Save To Hardware
			</span>
        <form class="login100-form validate-form" th:action="@{/saveToHardware}" method="post" th:object="${stock}" enctype="multipart/form-data">
            <input type="hidden" name="id" th:field="${stock.id}">
            <div class="wrap-input100 validate-input m-b-20" id="tur3">
                <input class="input100" type="text" th:field="${stock.name}" name="description" readonly="readonly">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-20" id="tur3">
                <input class="input100" type="text" th:field="${stock.description}" name="description" readonly="readonly">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-20" id="tur3">
                <input class="input100" type="number" name="roomNumber" placeholder="Room Number">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25">
                <input class="input100" type="text" name="campus" placeholder="Campus">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit">
                    Save
                </button>
            </div>
        </form>


    </div>

</div>

</body>
</html>