<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IMS-AIU</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>
<body>
<div class="w3-top" style="color: white;">
    <div class="w3-bar w3-padding w3-card" style="letter-spacing:4px; background-color: #2d2652">
        <a href="#home" class="w3-bar-item w3-button">Inventory Management System</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a th:href="@{/homePage}"  class="w3-bar-item w3-button">Home</a>
            <a th:href="@{/getStockPage}"  class="w3-bar-item w3-button">Stock</a>
            <a th:href="@{/userPage}" class="w3-bar-item w3-button">User page</a>
            <a th:href="@{/logout}" class="w3-bar-item w3-button">Log out</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Add New Manager
            </div>
            <div class="panel-body">
                <form name="myform" th:action="@{/regUser}" method="post" th:object="${user}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="myName">User Name *</label>
                        <input id="myName" name="name" class="form-control" type="text">
                        <span id="error_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input id="email" name="email"  class="form-control" type="text">
                        <span id="error_lastname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input id="password"  class="form-control" name="password" type="password">
                        <span id="error_age" class="text-danger"></span>
                    </div>

                    <a th:href="@{/regUser}"><button>Submit</button></a>
                </form>

            </div>
        </div>
    </div>
</div>

<footer class="w3-center w3-light-grey" style="position: relative; clear: both; text-align: center; bottom: 0; margin-top: 50px; height: 2.5rem; color: #2d2652">
    <p title="IMS-AIU" target="_blank" class="w3-hover-text-green">Created by Mederbek Abdyldaev | 2020x</p>
</footer>
</body>
</html>