<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>Home page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-padding w3-card" style="letter-spacing:4px; background-color: #5fbae9">
        <a href="#home" class="w3-bar-item w3-button">Inventory Management System</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a th:href="@{/homePage}" class="w3-bar-item w3-button">Home</a>
            <a th:href="@{/logout}" class="w3-bar-item w3-button">Log out</a>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col">
            <h2 style="color: #5fbae9; padding-top: 40px">Stock</h2>
            <div class="w3-col l6 w3-padding-large">
            <a th:href="@{/addStock}">
                <button type="button" class="btn btn-primary">Add items to Stock</button>
            </a>
            <a th:href="@{/regUser}">
                <button type="button" class="btn btn-success">Add new USER</button>
            </a>
            </div>
            <form action="#" id="searchForm" th:action="@{/searchStock}" method="post" th:object="${pattern}">
                <div class="table-responsive">
            <table class="table table-striped table-responsive-md btn-table" data-pagination="true" data-side-pagination="server">

                <thead>
                <tr>
                    <th><input type="text" class="form-control input-filter" placeholder="Item Name" th:field="*{name}"/></th>
                    <th><input type="text" class="form-control input-filter" placeholder="Item Description" th:field="*{description}"/></th>
                    <th><input type="text" class="form-control input-filter" placeholder="Type" th:field="*{type}"/></th>
                    <th>Quantity</th>
                    <th>Get Details</th>
                    <th>Add to Hardware</th>
                    <th><button type="submit">Search</button></th>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="s : ${stock}">
                    <tr>
                        <td th:text="${s.name}"></td>
                        <td th:text="${s.description}">...</td>
                        <td th:text="${s.type}">...</td>
                        <td th:text="${s.quantity}">...</td>
                        <td><a th:href="@{/getStock/__${s.id}__}"><button type="button" class="btn btn-teal btn-rounded btn-sm m-0">Try</button></a></td>
                        <td><a th:if="${s.quantity>0}" th:href="@{/addToHardware/__${s.id}__}"> <button type="button" class="btn btn-teal btn-rounded btn-sm m-0">Try</button></a></td>
                    </tr>
                </th:block>
                </tbody>

            </table>
                    <div th:if="${stock.totalPages > 0}" class="pagination"
                         th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/listStock(size=${stock.size}, page=${pageNumber})}"
                           th:text=${pageNumber}
                           th:class="${pageNumber==stock.number + 1} ? active"></a>
                    </div>
                </div>
            </form>
            <!--<object th:include="partial/pagination" th:remove="tag"></object>-->
        </div>
    </div>
    <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>